@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.title {
  font-size: 24px; 
  font-weight: bold; 
  text-align: center;   
  margin-bottom: 20px; 
  color: #333; 
}

body {
  font-family: Arial, sans-serif;
  background-color: #14B8A6; /* Cor de fundo sólida */
  background-image: 
    url('./image/bitcoin.png'), 
    url('./image/bitcoin.png'), 
    url('./image/bitcoin.png'),
    url('./image/bitcoin.png'),
    url('./image/bitcoin.png'),
    url('./image/bitcoin.png'), 
    url('./image/bitcoin.png'), 
    url('./image/bitcoin.png'), 
    url('./image/bitcoin.png'), 
    url('./image/bitcoin.png'), 
    url('./image/bitcoin.png'),
    url('./image/bitcoin.png'), 
    url('./image/bitcoin.png'), 
    url('./image/bitcoin.png'),
    url('./image/bitcoin.png'),
    url('./image/bitcoin.png'), 
    url('./image/bitcoin.png'), 
    url('./image/bitcoin.png'), 
    url('./image/bitcoin.png'), 
    url('./image/bitcoin.png'), 
    url('./image/bitcoin.png'), 
    url('./image/bitcoin.png'), 
    url('./image/bitcoin.png'), 
    url('./image/bitcoin.png'),
    url('./image/bitcoin.png'),
    url('./image/bitcoin.png'); /* Adicione mais imagens conforme necessário */
  
  background-size: 220px 193px; 
  background-position: 
    -12% 40%,  /* Imagem 2 */
    -12% 120%,  /* Imagem 4 */
    0% 1%,   /* Imagem 1 */
    8% 40%,  /* Imagem 2 */
    0% 80%,  /* Imagem 3 */
    8% 120%,  /* Imagem 4 */
    20% 1%,   /* Imagem 1 */
    28% 40%,  /* Imagem 2 */
    20% 80%,  /* Imagem 3 */
    28% 120%,  /* Imagem 4 */
    40% 1%,   /* Imagem 1 */
    48% 40%,
    40% 80%,  /* Imagem 3 */
    48% 120%,
    60% 1%,   /* Imagem 1 */
    68% 40%,
    60% 80%,  /* Imagem 3 */
    68% 120%, 
    80% 1%,   /* Imagem 1 */
    88% 40%,
    80% 80%,  /* Imagem 3 */
    88% 120%,  /* Imagem 2 */
    100% 1%,   /* Imagem 1 */
    108% 40%,
    100% 80%,  /* Imagem 3 */
    108% 120%;  /* Imagem 2 */
    
     
  
  background-repeat: no-repeat; /* Não repete as imagens */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

h2 {
  text-align: center;
  color: #333;
}

label {
  margin-bottom: 5px;
  display: block;
  color: #232121;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

.error {
  color: red;
  text-align: center;
}

.backdrop-blur-custom {
  backdrop-filter: blur(3px); 
}
